.fixed-bg {
	min-height: 100%;
	background-size: cover;
	-webkit-background-size: cover !important; 
	-moz-background-size: cover !important; 
	-o-background-size: cover; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 20px;
	line-height: 1.5;    
  }

  .homeDiv > h1 {
	font-size: 3.5em;
	color: rgba(255, 255, 255, 1);
	text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
	position: absolute;
	width: 80%;
	text-align: center;
	filter: none;
	line-height: 1;
  }

  .about-homeText {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	display: grid;
	padding: 3%;
	/* grid-template-columns: [first] 20% [line2] 60% [line3] auto [col4-start] 10% [five] 10% [end]; */
  	grid-template-rows: [row1-start] 25% [row1-end] 60% [third-line] 15% [last-line] 0;
  } 

.title-text{
	color: #FCA311;
	font-size: 40px;
	font-weight: bolder;
}

.text {
	font-family: "Open Sans", sans-serif;
}

.head-title > h3 {
	padding: 4% 0 3% 0;
	color: #14213D;
	font-weight: bold;
}

.li-container > ul {
	/* list-style-image: url('./images/chevron-right.svg'); */
	list-style-type: none;
}

.li-container > ul > li {

	border-left: 3px solid #FCA311;
	padding-left: 3%;
	margin: 10% 0;
}

.li-container > ul > li:first-child {

    margin: 10% 0;
}

.li-container {
	height: 100%;
	width: 46%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.teamMember-details {
	margin-top: -1%;
	height: auto;
}

.about-homeText1 {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	display: grid;
	padding: 3%;
	/* grid-template-columns: [first] 20% [line2] 60% [line3] auto [col4-start] 10% [five] 10% [end]; */
	grid-auto-rows: 6% auto !important;
  }

.experience-container {
	width: 100%;
	/* min-height: 100vh; */
	/* padding: 0 0 0 2%; */
}

.experience-details{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2%;
	justify-content: space-between;
}

.experience-container > ul {
	/* list-style-image: url('./images/chevron-right.svg'); */
	list-style-type: none;
	display: flex;
	flex-direction: column;
	padding-top: 6%;
}

.experience-container > ul > li {

	border-left: 3px solid #FCA311;
	padding-left: 3%;
	margin: 2% 0;
}

.experience-container > ul > li:first-child {
	margin-top: 1%;
}

.experience-container > ul > li > h3 {
	/* font-size: 26px; */
	color: #14213D;
	/* font-weight: 300; */

	line-height: 18px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.experience-container > ul > li > h5 {
	font-size: 16px;
	background: rgba(252, 163, 17, .6);
    padding: 5px 15px;
	font-weight: lighter;
	display: inline-block;
    margin-bottom: 10px;
}

.inner-exp-div{
	padding: 2% 0 0 0;
}

.inner-exp-list {
	list-style-image: url('../../../public/images/chevron-right.svg');
	/* list-style-type: none; */
}

.inner-exp-list > li {
	font-weight: lighter;
}