#home{
    scrollbar-gutter: stable; 
    margin-top: -15vh;
}

.fixed-bg {
	min-height: 100%;
	background-size: cover;
	-webkit-background-size: cover !important; 
	-moz-background-size: cover !important; 
	-o-background-size: cover; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 20px;
	line-height: 1.5;    
    overflow: hidden;
  }

  .main-text {
	font-size: 5em;
	font-weight: bolder;
  }

  .sub-text{
	color:#FCA311 !important;
	text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
  }

  .type {
	--d:2s; /* duration */
	display:inline-block;
	vertical-align: bottom;
	--n:7;
	--d:1.5s
  }
  
  .type > span {
	display:grid;
	overflow: hidden;
	height:1.2em;
  }
  
  .type span span {
	width:0%;
	max-width:max-content;
	overflow: hidden;
	height:inherit;
	word-break:break-all;
	animation:
	  c 1.5s infinite steps(1),  
	  t var(--d) linear infinite alternate,
	  m calc(var(--d)*2*var(--n)) steps(var(--n)) infinite;
  }
  .type span span:before {
	content:" ";
	display:inline-block;
  }
  
  @keyframes t{
	90%,100% {width:100%}
  }
  
  @keyframes c{
	0%,100%{box-shadow:5px 0 0 #0000}
	50%    {box-shadow:5px 0 0 red  }
  }
  
  @keyframes m{
	100% {transform:translateY(calc(-100%*var(--n)))}
  }



  .bg-1 {
	background-image: url("../../assets/images/bghome.jpg");
	position: relative;
	filter: blur(18px);
	height: 90vh;
    margin-top: 10vh;
	opacity: .90;
	background-blend-mode: soft-light;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
  }

  .homeText {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2px;
	justify-content: center;
	align-self: center;
	align-items: center;
    position: absolute;
	margin-top: -40%;

	/* font-size: 25px; */
	color: #f1f1f1;
	font-family: 'Flamenco', cursive;
  }

  .homeDiv > h1 {
	font-size: 3.5em;
	color: rgba(255, 255, 255, 1);
	text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
	position: absolute;
	width: 80%;
	text-align: center;
	filter: none;
	line-height: 1;
  }

  .intro > p {
	font-size: 2em;
	font-weight: lighter;
	color: rgba(255, 255, 255, 1);
	text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
	width: 80%;
	text-align: left;
	filter: none;
  }

  .intro {
	height: 100%;
	font-family: sans-serif;
  }

  .intro > button {
		padding: 15px 25px;
		color: white;
		font-weight: bold;
		border: 1px white solid;
		background-color: transparent;
  }
  
  .intro > button:hover {
		background-color: #FCA311;
	  }